/* Page */
.page {
    width: auto; max-width: 1920px;
    margin: 0px auto;
}
/* Header */
.header {
    background-color: brown;
}
.banner{
    height:50px; background-color: rgba(135, 246, 224, 0.66);
}
.headerL2 {
    height: fit-content; background-color: rgba(100,0,23,0.5);
}
.brand {
    width:auto; max-width: fit-content;
    height: auto; max-height: fit-content;
    background-color: rgba(135, 246, 224,40%);
    margin:auto 0px;
}
.logo  {
    width: auto; max-width: fit-content;
    height: auto; max-height: fit-content;
    background-color: rgba(83, 30, 148, 0.9);
    margin:auto 0px;
}

.brandName {
    width: auto; max-width: fit-content;
    height: auto; max-height: 100px;
    background-color: rgba(25, 143, 57, 0.8); 
    margin:auto 10px;
}

.searchBar {
    width:50%; max-width: 60%;
    height:auto;
    background-color: rgba(207, 255, 48, 0.552);
    margin:auto auto;
}
.brand, .searchBar {
    display: inline-block;
}
.logo, .brandName  {
    display:inline-block;
}

.menu {
    height:50px;
    background-color: rgba(49, 159, 255, 0.566);
}
.menu a {
    margin:auto 10px; 
    display:inline-block; 
    font-size: 16px; font-family: Tahoma, Verdana, Geneva, sans-serif;
}

/* Footer */
.social img {
    width:80px;
    display: inline-block;
    
}
footer {
    height: fit-content;
    background-color: rgba(25, 143, 57, 0.8);
}


form, .social {
    display: inline-block;
    width: auto; max-width: 300px;
    margin: auto auto;
    padding: 10px 5px;
}
/* Body */